*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color: rgb(122, 122, 214);
    margin:5% 0%;

    h1{
        text-align: center;
        margin:1% 0%;
    }
}
#formula{
    background-color: rgb(181, 181, 224);
    width: 50%;
    margin: auto;
    padding:3% 2%;
    text-align: center;
    border-radius: 10px;
    input{
        margin:1% 0%;
    }
    .botoncito{
     margin:1% 0%;
     padding:1% 2%;
     background-color: rgb(193, 214, 231);
     border:2px solid rgb(7, 56, 95);
     border-radius: 10px;
    } 
}
