@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "Roboto Mono";
}
body{
    background-color: rgb(122, 122, 214);
    margin:5% 0%;

    h1{
        text-align: center;
        margin:1% 0%;
    }
}
#formula{
    background-color: rgb(181, 181, 224);
    width: 50%;
    margin: auto;
    padding:3% 2%;
    text-align: center;
    border-radius: 10px;
    input{
        margin:1% 0%;
    }
    .botoncito,input[type=text], input[type=number]{
     margin:1% 0%;
     padding:1% 2%;
     background-color: rgb(193, 214, 231);
     border:2px solid rgb(7, 56, 95);
     border-radius: 10px;
    } 
    .botoncito:hover{
        background-color: rgb(90, 165, 226);;
    }
}
.oculto{
    display:none;
}
#tableroKanban{
    display: flex;
    width: 90%;
    margin:auto;
    
}
.columnasBonitas{
    background-color: pink;
    border:2px solid palevioletred;
    width: 33%;
    text-align: center;
}
.botonTarea{
    background-color: rgb(243, 211, 216);
    border:2px solid palevioletred;
    border-radius: 10px;
    margin:2% auto;
    padding:1% 2%;
    display:block;
    width: 90%;
}
.botonTarea:hover{
     background-color: rgb(223, 152, 163);
}
.tareaEstilosa{
    background-color: rgb(231, 140, 219);
    border:2px solid rgb(201, 37, 201);
    border-radius: 10px;
    width: 80%;
    padding:1% 0%;
    margin:2% auto;
    font-weight: bold;
}
.zonaTareas{
    min-height: 100px;
}
h2{
    margin-top: 2%;
}
.texto{
    border-bottom: 3px solid palevioletred;
    width: 80%;
    margin:1% auto;
    padding-bottom: 1%;
}
#idTarea{
    margin:2% 0%;
    padding:1% 2%;
    border: 2px solid palevioletred;
    border-radius: 10px;
}
#mensajes{
    width: 80%;
    margin:2% auto;
}